* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-image: url("../img/drew-coffman-1872.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: #FFF;
}

header nav {
  padding-block: 10px;
}

header nav .logo {
  float: left;
}

header nav .logo img {
  width: 200px;
}

header nav .nav-list {
  margin-top: 15px;
  float: right;
  list-style: none;
}

header nav .nav-list li {
  float: left;
  margin-inline: 5px;
  padding: 5px;
  font-size: large;
}

header .banner {
  text-align: center;
  margin-top: 170px;
}

header .banner span, header .banner p {
  font-size: 22px;
  line-height: 50px;
  margin-bottom: 30px;
}

header .banner h1 {
  font-size: 64px;
  line-height: 100px;
}

header .banner button.btn1,
header .banner button.btn2 {
  color: #FFF;
  padding: 20px 30px;
  border-radius: 3px;
  font-weight: bold;
  margin-inline: 5px;
  cursor: pointer;
}

header .banner button.btn1 {
  background-color: #8e7754;
  border: 1px solid #8e7754;
}

header .banner button.btn2 {
  background-color: transparent;
  border: 1px solid #FFF;
}

.color-accent {
  color: #8e7754;
}

.bg-accent {
  color: #8e7754;
}

.bg-gray {
  background-color: #F8F8F8;
}

.bg-brown {
  background-color: #403D38;
}

.bg-dark {
  background-color: #353330;
}

.bottom-border {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.container {
  width: 80%;
  margin-inline: auto;
}

.clrfix {
  clear: both;
}

img {
  width: 100%;
}

section {
  padding-block: 50px;
}

section .image,
section .description {
  float: left;
  width: 50%;
}

section .image img {
  width: 90%;
}

section .description {
  padding-block: 50px;
  line-height: 2rem;
}

section .description h2, section .description p {
  margin-block: 20px;
}

section .description ul {
  list-style: none;
}

section .description ul li {
  margin-block: 20px;
}

section .description ul li i {
  text-align: center;
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
  font-size: 18px;
  padding: 10px;
  border-radius: 50%;
}

section .description ul li i.color-accent {
  border: 1px solid #8e7754;
}

section .description ul li i.bg-accent {
  color: #FFF;
  background-color: #8e7754;
}

section.baking {
  text-align: center;
}

section.baking h2 {
  margin-bottom: 50px;
}

section.baking .bake-item {
  text-align: center;
  float: left;
  width: 33%;
  line-height: 1.8rem;
  margin-top: 50px;
}

section.baking .bake-item img {
  width: 90%;
}

.static-box {
  list-style: none;
  text-align: center;
  width: 40px;
  background-color: #f8f8f8;
  color: #5a5a5a;
  position: fixed;
  right: 0;
  top: 25%;
  border-radius: 3px 0px 0px 3px;
}

.static-box li {
  margin-block: 15px;
}

footer .first-footer {
  background-color: #403D38;
  padding-block: 50px;
  color: #999;
}

footer .first-footer .footer-category {
  float: left;
  width: 24%;
  margin-inline: 3px;
}

footer .first-footer .footer-category h3, footer .first-footer .footer-category p {
  margin-bottom: 20px;
}

footer .first-footer .footer-category h3 {
  color: #FFF;
}

footer .first-footer .arrow {
  position: relative;
  padding-left: 20px;
}

footer .first-footer .arrow::before {
  content: '';
  border: none;
  border: 7px solid transparent;
  border-left: 7px solid #999;
  position: absolute;
  left: 0px;
  top: 10%;
}

footer .second-footer {
  padding-block: 50px;
  text-align: center;
}

footer .second-footer img {
  width: 400px;
}

footer .second-footer p {
  margin-block: 20px;
  color: #999;
}

footer .second-footer .social div {
  padding: 20px;
  margin-right: 5px;
  display: inline-block;
  color: #999;
  border-radius: 50%;
  background-color: #403D38;
}